.cart-shop-container {
 position: relative;
 cursor: pointer;
}

.cart-shop-count {
    position: absolute;
    left: 20px;
    top: -5px;
    background-color: #e9602e;
    color: #fff;
    font-weight: bold;
    width: 20px;
    height: 20px;
    border-radius: 20px;
}